.body-container {
    margin: 0;
    padding: 0;
    display: flex;
    height: 73vh;
  }

  #editor-container {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: #353535;
  }

  /* #line-numbers {
    margin-right:2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #b4aeae;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    user-select: none;
  } */

  #line-numbers{
    background-color: #353535;
    margin-top: 7px;
    width: 1rem;
    color: wheat;
    /* width: fit-content; */
  }

  #code-input {
    /* margin-left: 30px; Adjust the margin to align with line numbers */
    width: calc(100%);
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    color: #f4f4f4;
    background-color: #353535;
  }

  #output-container {
    flex: 1;
    overflow: auto; /* Added overflow property for scrollbars */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    resize: both; /* Added resize property for both horizontal and vertical resizing */
    overflow: auto; /* Added overflow property for scrollbars */
  }
  .output{
    resize: vertical;
    background-color: aqua;
  }
  .textarea-output{
    resize: none;
    width: 45vw;
    height: 100%;
    /* border: solid 1px; */
    outline: none;
    color: azure;
    background-color: #353535;
  }
  .line{
    cursor: ew-resize;
    width: 2px;
    background-color:whitesmoke;
  }
