@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
font-family:'Poppins',sans-serif;
}
.nav-container{
    padding: 1rem;
    background-color: rgb(255, 136, 0);
}
.form-container{
    /* font-size: 2rem; */
    justify-self: end;
    margin: 4vh 0;
    width: 27vw;
    /* height: ; */
    font-size: 1em;
    padding: 0 2rem 0 2rem;
    /* background-color: antiquewhite; */
    border: solid 1px;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    /* background-color: azure; */
}
form p{
    display: flex;
    flex-direction: column;
}
form p input{
    padding: 1rem 0 0.4rem 0.4rem;
    border-width: 0 0 1px;
    outline: none;
}
form p input:focus{
    border-width: 0 0 2px;
}
#mob{
    user-select: none;
}
input[type="submit"],.Country{
    outline: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.4rem;
    border: solid 1px;
    font-size: 1rem;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.vis{
    width: fit-content;
    cursor: pointer;
    position: relative;
    top: -2vw;
    left: 25vw;
    user-select: none;
}
.txt{
    font-size: 1rem;
}
#vis-b1,#vis-b2{
    display: none;
}
@media (max-width:768px) {
    .form-container{
        width: 80vw;
        /* background-color: blue; */
    }
    .vis{
        /* position: absolute; */
        width: fit-content;
        top: -25px;
        left: 74vw;
    }
}
